// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#hero-inner  h1 {
  background: rgb(54, 105, 44); /* Fall-back for browsers that don't support rgba */
  background: rgba(54, 105, 44, .5);
}

#hero-inner em {
  color: #C8EBC7;
}

